/*Портфолио*/
// блок фыльтрів
.container.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
/*фильтры*/
.button-text {
  padding: 6px 22px;
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  background: $feature-icon-color;
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color 250ms $timing-function,
    color 250ms $timing-function, box-shadow 250ms $timing-function;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    color: $primary-white-color;
    background-color: $akcent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

/*список проектів*/
.portfolio.list {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}
/*Ховер для карточок*/
.portfolio-link {
  display: block;
  transition: box-shadow 250ms $timing-function;
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

/*Розмір блоків*/
.portfolio.list .portfolio.item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

/*текс на проектах*/
.text-main {
  padding: 62px 24px;
  color: $primary-white-color;
  font-size: 18px;
  line-height: 1.56;
}
/*список проектів*/
.card-contact {
  padding: 24px 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-title {
  margin-bottom: 20px;

  color: $primary-bleak-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/*тема проекта*/
.proect-item {
  color: $title-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

/*ДЛЯ ФОТО СИНИЙ ФОН*/
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(33, 150, 243, 0.9),
    rgba(33, 150, 243, 0.9)
  );

  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms $timing-function, opasity 250ms $timing-function;
}
/*Позиціонування для фото*/
.card-photo {
  position: relative;
  overflow: hidden;
}

/*Ховер для фото*/
.portfolio-link:hover .card-overlay,
.portfolio-link:focus .card-overlay {
  transform: translateY(0);
  opacity: 1;
}
