$primary-text-color: #212121;
$title-text-color: #757575;
$akcent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-bleak-color: #000000;
$feature-icon-color: #f5f4fa;
$social-icon-color: #afb1b8;
$font-text: Roboto, sans-serif;
$font-logo: Raleway, sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
