/* Форма для модального вікна*/
.form {
  padding: 40px;
  background-color: $primary-white-color;
  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 528px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing-function;
    &-field {
      position: relative;
      display: block;
      margin-bottom: 28px;
    }
  }
}

.form-labal {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  transition: transform 250ms $timing-function, color 250ms $timing-function;
  color: $title-text-color;
}

.form-field input {
  width: 100%;

  margin: 0;
  padding: 11px 16px;
  padding-left: 42px;
  font: inherit;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

input [type="checkbox"] {
  width: 16px;
  height: 15px;
}
/*позиціонування iконки*/
.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;

  transform: translateY(-50%);
  transition: fill 250ms $timing-function;
}

/*Фокус для форм*/
.form-field:focus-within > .form-labal {
  color: $akcent-color;
  top: 0;
  transform: translate(-27px, calc(-100% - 4px));
}
.form-input:not(:placeholder-shown) + .form-labal {
  top: 0;
  transform: translate(-27px, calc(-100% - 4px));
}
.form-field:focus-within > .icon-modal {
  fill: $akcent-color;
}

/*Коментарии*/
.form-field.textarea {
  margin-bottom: 20px;
}

.form-field textarea {
  position: relative;
  resize: none;
  padding: 12px 16px;
  margin: 0;

  width: 100%;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-labal.comment {
  position: absolute;
  top: 21px;
  left: 16px;

  transform: translateY(-50%);
  transition: transform 250ms $timing-function;
}
.form-field:focus-within > .form-labal.form-labal.comment {
  color: $akcent-color;
  top: 0;
  transform: translateY(calc(-100% - 4px));
}

.form-input:not(:placeholder-shown) + .form-labal.form-labal.comment {
  top: 0;
  transform: translateY(calc(-100% - 4px));
}
.form-input:focus,
.form-textarea:focus {
  border-color: $akcent-color;
  outline: none;
}

/*Приховати чекбокс*/
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Оформлення чекбокса*/
.checkbox-form {
  @include centeredflex($type: flex);
  margin-bottom: 30px;
  .check-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    border: 2px solid $primary-bleak-color;
    border-radius: 4px;

    transition: transform 250ms $timing-function;
  }
}
.checkbox-form .checkbox:checked + .check-icon {
  background-color: $akcent-color;
  background-image: url(../imeges/berd.svg);
  border-color: $akcent-color;
  background-size: contain;
  background-origin: border-box;
}

/*кнопка закрити*/

.closed {
  @include centeredflex($type: flex);
  position: absolute;
  top: 1%;
  right: 1%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: $primary-white-color;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  outline: none;

  &:hover .icon-close,
  &:focus .icon-close {
    fill: $akcent-color;
    cursor: pointer;
  }
}
.icon-close {
  fill: $title-text-color;
  width: 11px;
  height: 11px;
  transition: fill 250ms $timing-function;
}
/*Кнопка отправить*/
.submit-form {
  text-align: center;
}
