.site-nav {
  @media screen and (max-width: 767px) {
    display: inline-block;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.site-nav__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
}
.site-nav__link {
  display: block;
  color: $primary-bleak-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.16;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: $akcent-color;
  }
}

.site-nav__link--currnet {
  position: relative;
  color: $akcent-color;
  display: inline-block;
  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: $akcent-color;

    transition: background-color 250ms $timing-function;
    border-radius: 2px;
  }
}

// Кнопка меню
.menu-button {
  border: none;
  outline: none;
  background: $primary-white-color;
  display: inline-flex;
  margin: 0;
  padding: 0;
  transition: fill 250ms $timing-function;

  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: $akcent-color;
    cursor: pointer;
  }

  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: $akcent-color;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $primary-white-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;

    z-index: 1;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
