.site.header {
  position: relative;
}

.site-nav {
  // @media screen and (max-width: 768px) {
  //   flex-direction: row;
  //   justify-content: center;
  padding: 0px 0px;
  margin-left: 81px;
  margin-right: 81px;
}
// .site-nav__item:not(:last-child) {
//   margin-right: 50px;
// }
.site-nav__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}
.site-nav__link {
  display: block;

  color: $primary-bleak-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: $akcent-color;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link--currnet {
  position: relative;
  color: $akcent-color;
  display: inline-block;
  // padding: 12px 0px;
  &:after {
    position: absolute;
    // display: inline-block;
    content: "";
    left: 0;
    bottom: 0;
    // right: 0px;
    width: 100%;

    height: 4px;
    border-radius: 2px;
    background-color: $akcent-color;
    transition: background-color 250ms $timing-function;
  }
  // @media screen and (min-width: 768px) {
  //   padding: 32px 0px;
  // }
}

// Кнопка меню
.menu-button {
  border: none;
  outline: none;
  background: $primary-white-color;
  display: block;
  margin-left: auto;

  transition: fill 250ms $timing-function;

  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: $akcent-color;
    cursor: pointer;
  }

  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: $akcent-color;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
// Меню навігації
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.icon-cross {
  width: 24px;
  height: 16px;
}

.menu-container {
  padding: 60px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $primary-white-color;
    border-top: 1px solid #ececec;

    &.is-open {
      display: block;
    }
  }

  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   justify-content: space-between;
  //   flex-grow: 1;
  // }
}
//   text-align: center;
//   @media screen and (max-width: 767px) {
//     position: absolute;
//     top: 60px;
//     left: 0px;
//     width: 100%;
//     background: white;
//     border-top: 1px solid #ececec;

//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
//       0px 4px 8px rgba(0, 0, 0, 0.04);

//     &.is-open {
//       display: block;
//     }
//   }

//   @media screen and (min-width: 768px) {
//     display: flex;
//     justify-content: space-between;
//     flex-grow: 1;
//   }
// }

// .menu-container {
//   background-color: yellow;

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   @media screen and (max-width: 767px) {
//     display: none;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     padding: 60px;

//     &.is-open {
//       display: block;
//     }
//   }

//   @media screen and (min-width: 768px) {
//     display: flex;
//     width: 100%;
//   }
// }
