html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  font-family: $font-text;
  background: $primary-white-color;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*ПРАВКИ*/
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
  color: $primary-white-color;
}
/*для фото*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.box {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

/*приховати текст*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*Стилі для секцій*/
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
  align-items: center;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// Стилі для контейнера
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// Стилі для зоголовків
/*ЗАГОЛОВКИ h2*/
.main-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
