/*Шапка макета*/

/*контейнер шапки*/
.main-nav {
  display: flex;
  align-items: center;
  padding: 10px;

  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // padding: 10px 0px;

  // width: calc(100% - 30px);
  // margin: 0px auto 0px;
}

// /*"auth-nav*/
.auth-nav {
  display: inline-block;
  text-align: center;

  // @media screen and (min-width: 768px) {
  //   margin-left: 81px;
  // }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.auth-nav__item + .auth-nav__item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

/*контакты*/
.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: $akcent-color;
    fill: $akcent-color;
  }
}

// Стилі для іконок
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}
