/*список Чем мы занимаемся*/
.section.do {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.do-list {
  display: flex;
  align-items: center;
}
.do-item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.do-title {
  padding: 27px;
  width: 100%;

  position: absolute;
  bottom: 0;

  color: $primary-white-color;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
}
