/*ПЕРЕВАГИ*/
.feature-list {
  margin: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

/*картинка*/
.features-blok {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;
  background: $feature-icon-color;
}
.features-icon {
  width: 70px;
  height: 70px;
}

/*текст*/

.feature-list .feature-item {
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

/*заголовки h3*/
.title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.text {
  color: $title-text-color;
  line-height: 1.72;
  margin-top: 0;
}
